SOAP_AND_REST/labs/labs/student/exercises/lab05/CardDeckSEClient/xml-resources/web-service-references/CardDeckSessionBeanService/wsdl/localhost_7001/CardDeckSessionBean/CardDeckSessionBeanService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="urn:dukesdecks" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:dukesdecks" elementFormDefault="qualified"><xsd:complexType name="stackType"><xsd:sequence><xsd:element name="card" type="ns0:cardType" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="cardType"><xsd:sequence><xsd:element name="rank" type="ns0:rankType"/><xsd:choice><xsd:element name="suit" type="ns0:suitType"/><xsd:element name="color" type="ns0:colorType"/></xsd:choice></xsd:sequence></xsd:complexType><xsd:element name="stack" type="ns0:stackType"/><xsd:simpleType name="rankType"><xsd:restriction base="xsd:string"><xsd:enumeration value="A"/><xsd:enumeration value="2"/><xsd:enumeration value="3"/><xsd:enumeration value="4"/><xsd:enumeration value="5"/><xsd:enumeration value="6"/><xsd:enumeration value="7"/><xsd:enumeration value="8"/><xsd:enumeration value="9"/><xsd:enumeration value="10"/><xsd:enumeration value="J"/><xsd:enumeration value="Q"/><xsd:enumeration value="K"/><xsd:enumeration value="JOKER"/></xsd:restriction></xsd:simpleType><xsd:simpleType name="suitType"><xsd:restriction base="xsd:string"><xsd:enumeration value="CLUBS"/><xsd:enumeration value="DIAMONDS"/><xsd:enumeration value="HEARTS"/><xsd:enumeration value="SPADES"/></xsd:restriction></xsd:simpleType><xsd:simpleType name="colorType"><xsd:restriction base="xsd:string"><xsd:enumeration value="WHITE"/><xsd:enumeration value="RED"/><xsd:enumeration value="BLACK"/></xsd:restriction></xsd:simpleType></xsd:schema>